body {
    margin:0;
    font-family:Arial, sans-serif;
    background:#272727;
    color:white;
}

header {
    background:#3d4f3a;
    padding:20px;
    text-align:center;
}

nav button {
    background:#ff8c00;
    border:none;
    padding:10px 20px;
    margin:5px;
    cursor:pointer;
    font-size:16px;
    border-radius:8px;
}

.screen {
    display:none;
    padding:20px;
}

.screen.active {
    display:block;
}

#gameList {
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(200px,1fr));
    gap:20px;
}

.gameCard {
    background:#444;
    padding:15px;
    border-radius:10px;
}

.gameCard img {
    width:100%;
    height:140px;
    object-fit:cover;
}
