body {
font-family: Arial;
background: #f4f4f4;
margin: 0;
padding: 0;
}
header {
background: #333;
color: #fff;
padding: 15px;
}
button {
margin: 5px;
padding: 10px;
}
.hidden {
display: none;
}
#gamesList, #pendingGames, #approvedGames, #userList {
padding: 15px;
background: white;
margin: 10px;
border-radius: 8px;
}
